.todo {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  word-break: break-word;
}

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trash {
  cursor: pointer;
}
